@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
    background-color: #f7a1a4;
    
}
#foto{
    border: 2px solid;
    border-radius: 50% 50% 50% 50%;
    width: 170px;
    height: 170px;
   
}
#titulo{
   
    margin-top: 1px;
    display: flex;
    float: right;
    margin-right: 1010px;
    margin-top: 60px;
    font-family: 'Great Vibes', cursive;
    font-size: 45px;

}
.coisa{
    margin-left: 40px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
}

button{
    font-family: monospace;
    font-size: 1rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #ffd6d6;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 35px 0;
}
button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }
#luciana{
    border:2px solid;
    border-radius: 20% 20% 20% 20%;
    width: 400px;
    height: 400px;
    margin-left: 300px;
    margin-right: 100px;
    margin-top: 150px;
  
}
#celina{
    border: 2px solid;
    border-radius: 20% 20% 20% 20%;
    width: 400px;
    height: 400px;
    margin-top: 150px;
}
#profas{
    font-family: 'Great Vibes', cursive;
    font-size: 38px;
    text-align: center;
    margin-top: 50px;
    font-family: 'Great Vibes', cursive;
}
.titulodois{
    float: right;
    margin-right: 560px;
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    margin-top: 90px;
   display: flex;
   justify-content: center;
}
.texto{
    display: flex;
    float: left;
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
    margin-right: 200px;
    margin-left: 210px;
    
    
}
#fotopag2{
    margin-top: 20px;
    border: 2px solid;
    border-radius: 50% 50% 50% 50%;
    width: 170px;
    height: 170px;
}
.barra{
    color: #FAFAFA;
    display: flex;
    justify-content: start;
    justify-content: space-evenly;
    border: 2px solid;
    border-radius: 60px;
    height: 40px;
    background-color:#ffd3b6;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 0;
    transition: 0.8s;
}
.barra:hover{
    color:rgb(233, 95, 118);
    height: 60px;
}
ul{
text-decoration: none;
color: #FAFAFA;
}


